	<header id="navigation">      
        <div class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><h1><img src="{{ asset('bundles/skaphandrusdivingadvisors/images/logo_.png') }}" alt="logo"></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#navigation">Home</a></li>                         
                        <li class="scroll"><a class="border" href="#services">Services</a></li>
                        <li class="scroll"><a class="border" href="#about-us">About Us</a></li>
                        <li class="scroll"><a class="border" href="#testimonials">Testimonials</a></li>
                        <li class="scroll"><a class="border" href="#portfolio">Portfolio</a></li>
                        <li class="scroll"><a class="border" href="#clients">Clients</a></li> 
                        <li class="scroll"><a class="border" href="#blog">Blog</a></li>
                        <li class="scroll"><a class="border" href="#footer">Contact</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#navigation-->