{# empty Twig template #}
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="service-heading">
						<div class="row">
							<div class="col-sm-3 wow fadeInLeft" data-wow-duration="1200ms" data-wow-delay="300ms">
								<h3>We Provide Awesome Online <span>Service</span></h3>
							</div>
							<div class="col-sm-9 wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">
								<div class="service-content">
									<div class="service-icon">
										<i class="fa fa-angle-right pull-left"></i>
									</div>
									<div class="service-text">
										<p>we are a full service digital agency from earth. we design and build <span>websites, applications, mobile solutions and other awesome digital media.</span></p>
									</div>									
								</div>								
							</div>
						</div>	
					</div>					
				</div>
				<div class="col-sm-6">
					<div class="single-service  wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-lightbulb-o"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2>Increase the potential of your <span>Potential</span></h2>
									<p>In loco harvesting of the pros and cons of your area as a dive destination; </p>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single-service wow flipInY" data-wow-duration="1500ms" data-wow-delay="350ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-bolt"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2><span>Potential </span>Markets</h2>
									<p>Analyses of where and when to promote your dive destination; </p>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single-service  wow flipInY" data-wow-duration="2000ms" data-wow-delay="400ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-rocket"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2>Fairs <span>Strategy</span></h2>
									<p>What international diving fairs to attend to;</p>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single-service wow flipInY" data-wow-duration="2500ms" data-wow-delay="450ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-phone"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2>Content <span>Creation and Marketing</span></h2>
									<p>Full development of promotional material like articles, photos, videos, guides, etc;</p>
								</div>								
							</div>
						</div>
					</div>
				</div>
                            
                            
                            				<div class="col-sm-6">
					<div class="single-service wow flipInY" data-wow-duration="2500ms" data-wow-delay="450ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-phone"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2>Creative <span>Design</span></h2>
									<p>Creative design solutions for graphic design, interface design, web design and product design that require creativity to their developments;</p>
								</div>								
							</div>
						</div>
					</div>
				</div>
                            
                            				<div class="col-sm-6">
					<div class="single-service wow flipInY" data-wow-duration="2500ms" data-wow-delay="450ms">
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="single-service-icon wow rotateIn" data-wow-duration="1000ms" data-wow-delay="300ms">
									<i class="fa fa-phone"></i>
								</div>								
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="single-service-text">
									<h2>Web and Mobile <span>Development</span></h2>
									<p>Design and development of custom web and mobile applications;</p>
								</div>								
							</div>
						</div>
					</div>
				</div>
                            
                            
                            
                            
                            
			</div>
		</div>
	</section><!--/#services--> 
