
	
	<section id="testimonials">		
		<div class="container text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="500ms">
			<div class="col-sm-6 col-sm-offset-3">
				<h2>Testimonials</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>	
			</div>							
		</div>	
		<div id="testimonial-slider" class="carousel slide wow fadeInUp" data-ride="carousel"  data-wow-duration="1000ms" data-wow-delay="300ms">
			<div class="carousel-inner">
				<div class="item active">
					<div class="testimony-person animated fadeIn">
						<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/testimonial/man1.png') }}" alt="" />	
					</div>
					<div class="testimony-caption default-bg">
						<div class="testimonial animated rubberBand">
							<h3>Frank Furious</h3>
							<h4>Art Director</h4>
							<i class="fa  fa-angle-down"></i>
							<p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ”</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimony-person animated fadeIn">
						<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/testimonial/man2.png') }}" alt="" />		
					</div>
					<div class="testimony-caption default-bg">
						<div class="testimonial animated rubberBand">
							<h3>Roberto Carlos</h3>
							<h4>Chief Executive</h4>
							<i class="fa  fa-angle-down"></i>
							<p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ”</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimony-person animated fadeIn">
						<img class="img-responsive" src="{{ asset('bundles/skaphandrusdivingadvisors/images/testimonial/man3.png') }}" alt="" />	
					</div>
					<div class="testimony-caption default-bg">
						<div class="testimonial animated rubberBand">
							<h3>Mark Derain</h3>
							<h4>Develop Manager</h4>
							<i class="fa  fa-angle-down"></i>
							<p>“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ”</p>
						</div>
					</div>
				</div>					
			</div>
			<ol class="carousel-indicators">
				<li data-target="#testimonial-slider" data-slide-to="0" class="active"></li>
				<li data-target="#testimonial-slider" data-slide-to="1"></li>
				<li data-target="#testimonial-slider" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators-->
		</div>
	</section><!--/#testimonials--> 